.ulClass{
    position: fixed;
    top: 3vh;
    left: 24vw;
    width: 50vw;
    border-radius: 15px;
    background-color: white;
    padding: 0rem 2rem;
}
.blurButt{
    background-color: rgb(189, 186, 187);
    border: 0;
    padding: 0.7rem 1.5rem;
    margin: 1rem;
    font-size: 1.1rem;
    border-radius: 10px;
}
.blurButt:active{
    background-color: rgb(226, 129, 38);
}
.totH3{
    display: flex;
    justify-content: center;
    margin-top: 0.4rem;
}
.totH3Child{
    margin: 0;
    background-color: rgb(243, 194, 194);
    border: 1px solid rgb(197, 195, 195);
    border-radius: 10px;
    padding: 0.3rem;
    width: fit-content;

}