.order{
    width: 50vw;
    text-align: right;
}
.oredrButt{
    background-color: rgb(104, 51, 38);
    border: none;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    animation: myButt 1s ease-out forwards;
}
.oredrButt:active{
    background-color: rgb(204, 80, 23);
}
.counter{
    background-color: rgb(202, 128, 17);
    border-radius: 13px;
    padding: 0.3rem 0.8rem;
    margin-left: 0.4rem;
}
@keyframes myButt{
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
.fixedButt{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(104, 51, 38);
    border: none;
    padding: 0.6rem 2rem;
    font-size: 1rem;
    border-radius: 27px;
    color: white;
    cursor: pointer;
    animation: myButt 1s ease-out forwards;
    text-align: left;
}
.fixedButt:active{
    background-color: rgb(204, 80, 23);
}